<head>
  <title>CNavi</title>
</head>

<body>
  {{> cnavi}}
</body>

<template name="cnavi">
	<div id="header">header</div>
	<div class="cnavi_contents" id="login">{{> login}}</div>
	<div class="cnavi_contents" id="class_list">{{> class_list}}</div>
	<div class="cnavi_contents" id="lesson_list">{{> lesson_list}}</div>
	<div class="cnavi_contents" id="class_list">{{> class_list}}</div>
	<div class="cnavi_contents" id="exam">{{> exam}}</div>
	<div class="cnavi_contents" id="paper_submission">{{> paper_submission}}</div>
	<div class="cnavi_contents" id="student_list">{{> student_list}}</div>
</template>
