/* CSS declarations go here */

#class_list {
	display: none;
}

#exam {
	display: none;
}

#lesson_list {
	display: none;
}

#paper_submission {
	display: none;
}

#student_list {
	display: none;
}

.red {
	color: #FF0000;
}

.blue {
	color: #0000FF;
}

.green {
	color: #00FF00;
}
